# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

#default presets styles
dotnet_naming_style.PascalCase.capitalization = pascal_case

dotnet_naming_style.camelCase.capitalization = camel_case

dotnet_naming_style._camelCase.capitalization = camel_case
dotnet_naming_style._camelCase.required_prefix = _


#Interface
dotnet_naming_style.IPascalCase.capitalization = pascal_case
dotnet_naming_style.IPascalCase.required_prefix = I

dotnet_naming_symbols.Interface.applicable_kinds = interface
dotnet_naming_symbols.Interface.applicable_accessibilities = *

dotnet_naming_rule.Interface.severity = suggestion
dotnet_naming_rule.Interface.symbols = Interface
dotnet_naming_rule.Interface.style = IPascalCase


#Class, Struct, Enum, Method, property - CSEMP
dotnet_naming_symbols.CSEMP.applicable_kinds = class, struct, enum, method, property
dotnet_naming_symbols.CSEMP.applicable_accessibilities = *

dotnet_naming_rule.CSEMP.severity = warning
dotnet_naming_rule.CSEMP.symbols = CSEMP
dotnet_naming_rule.CSEMP.style = PascalCase

#non-const (private, protected)
dotnet_naming_symbols.NonConstPP.applicable_kinds = field
dotnet_naming_symbols.NonConstPP.applicable_accessibilities = private, protected

dotnet_naming_rule.NonConstPP.severity = warning
dotnet_naming_rule.NonConstPP.symbols = NonConstPP
dotnet_naming_rule.NonConstPP.style = _camelCase

#const (private protected)
dotnet_naming_symbols.ConstPP.applicable_kinds = field
dotnet_naming_symbols.ConstPP.applicable_accessibilities = private, protected
dotnet_naming_symbols.ConstPP.required_modifiers = const

dotnet_naming_rule.ConstPP.severity = warning
dotnet_naming_rule.ConstPP.symbols = ConstPP
dotnet_naming_rule.ConstPP.style = PascalCase

#Public
dotnet_naming_symbols.Public.applicable_kinds = field
dotnet_naming_symbols.Public.applicable_accessibilities = public
dotnet_naming_symbols.Public.required_modifiers = *

dotnet_naming_rule.Public.severity = warning
dotnet_naming_rule.Public.symbols = Public
dotnet_naming_rule.Public.style = PascalCase


#parms
dotnet_naming_symbols.Parameter.applicable_kinds = parameter
dotnet_naming_symbols.Parameter.applicable_accessibilities = *

dotnet_naming_rule.Parameter.severity = warning
dotnet_naming_rule.Parameter.symbols = Parameter
dotnet_naming_rule.Parameter.style = camelCase

#local
dotnet_naming_symbols.Local.applicable_kinds = local
dotnet_naming_symbols.Local.applicable_accessibilities = local

dotnet_naming_rule.Local.severity = warning
dotnet_naming_rule.Local.symbols = Local
dotnet_naming_rule.Local.style = camelCase

#convention
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning




csharp_style_var_for_built_in_types.severity = none
csharp_style_var_when_type_is_apparent.severity = none
csharp_style_var_elsewhere.severity = none

csharp_prefer_braces = true:suggestion
csharp_style_throw_expression.severity = none
dotnet_style_collection_initializer.severity = none
dotnet_style_coalesce_expression.severity = none

dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:suggestion

dotnet_diagnostic.IDE0052.severity = none
csharp_style_prefer_range_operator.severity = none
csharp_style_unused_value_expression_statement_preference.severity = none
csharp_style_unused_value_assignment_preference.severity = none
csharp_style_prefer_switch_expression.severity = none
dotnet_style_prefer_simplified_interpolation.severity = none
csharp_style_prefer_pattern_matching.severity = none
dotnet_style_prefer_compound_assignment.severity = none
csharp_style_prefer_not_pattern.severity = none
csharp_style_implicit_object_creation_when_type_is_apparent = false:suggestion

dotnet_analyzer_diagnostic.category-CodeQuality.severity = none


csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

csharp_using_directive_placement= outside_namespace:warning
dotnet_style_require_accessibility_modifiers= for_non_interface_members:warning

dotnet_diagnostic.CS0219.severity = silent
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0044.severity = none